main {
    padding: 0 10%;
}

nav {
    display: grid;

    .Category-Filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 64px;
        gap: 8px;

        .Category-Container {
            min-width: 100px;
            font-size: 18px;
            text-align: center;
            border-radius: 8px;
            padding: 4px 8px;

            border-style: none;
        }
    }
}

.Filter-Textbox {
    padding: 8px;
    border-radius: 12px;
    border-style: solid;
    border-color: gray;
    font-size: 16px;
    margin: 16px 0;
    
}