.Cards-Component {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    position: relative;

    .Component-Background {
        width: 80%;
        height: 80%;
        background-image: url('../../../public/Images/Logos/Pokeball.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: fixed;
        opacity: 0.05;
        transform: translateY(-50%);
        top: 50%;
        z-index: -100;
    }

    .Pokemon-Cards {
        position: relative;

        .Card-Container {
            width: 250px;
            aspect-ratio: 3 / 4;
            background-color: white;
            border-radius: 16px;
            overflow: hidden;
            border: 8px solid whitesmoke;
            transition: 0.1s;
            filter: drop-shadow(0 5px 5px rgba(black, 0.3));

            display: grid;
            grid-template-rows: auto 1fr auto;
        
            .Header-Container {
                grid-row: 1;
                display: grid;
                grid-template-columns: auto 1fr 32px;
                align-items: center;
                height: 32px;

                .Pokemon-Id {
                    grid-column: 1;
                    font-size: 20px;
                    font-weight: bold;
                    padding-left: 8px;
                }

                .Pokemon-Name {
                    font-size: 150%;
                    grid-column: 2;
                    font-weight: bold;
                    text-align: center;
                    text-transform: capitalize;
                }

                .Pokemon-Type {
                    grid-column: 3;
                    width: 100%;
                    padding: 4px;
                }
            }

            .Pokemon-Image {
                grid-row: 2;
                width: 100%;
                background-size:contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .Card-Content {
                grid-row: 3;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: bold;
                padding: 16px 32px;
                

                .Pokemon-Types {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 16px;
                    gap: 8px;

                    & p {
                        font-size: 14px;
                        text-transform: capitalize;
                        text-align: center;
                        border-radius: 8px;
                        padding: 4px 16px;
                    }
                }

                .Pokemon-Stats {
                    display:  grid;
                    grid-template-columns: 70% 30%;
                    
                    // .Stat-Name { grid-column: 1; }
                    // .Stat-Value {
                    //     grid-column: 2;
                    //     text-align: right;
                    // }
                }
            }
        }

        .Pokemon-Model {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 0.3s;
            z-index: 1000;
        
            
        }
        
        &:hover img {
            width: 150%;
            opacity: 1;
        }
    
        &:hover .Card-Container {
            transform:
                perspective(250px)
                rotateX(10deg)
                translateY(-5%)
                translateZ(0)
        }
    }
}