@import "./Base";

.Cards-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    
    padding: 10%;

    .Pokemon-Container {
        position: relative;
    
        .Card-Container {
            width: 250px;
            aspect-ratio: 3 / 4;
            background-color: white;
            border-radius: 16px;
            filter: drop-shadow(0 5px 5px rgba(black, 0.5));
            transition: 0.1s;
            overflow: hidden;
        
            .Header-Container {
                display: grid;
                grid-template-columns: 32px 1fr 32px;
                align-items: center;
                height: 32px;

                .Pokemon-Name {
                    grid-column: 2;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: capitalize;
                    text-align: center;
                }
            }

            .Pokemon-Image {
                width: 100%;
                aspect-ratio: 4 / 3;
                background-size:contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .Card-Content {
                font-size: 16px;
                padding: 32px;
            }
        }

        img {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 30%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 0.3s;
            z-index: 1000;
        
            
        }
        
        &:hover img {
            width: 150%;
            opacity: 1;
        }
    
        &:hover .Card-Container {
            transform:
                perspective(250px)
                rotateX(10deg)
                translateY(-5%)
                translateZ(0)
        }
    }
}